body{font-size:75%}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea{font-family:"微软雅黑",Helvetica,Arial,sans-serif}

h1, h2, h3, h4, h5, h6{font-weight:bold}
h1{font-size:3em; line-height:1; margin-bottom:0.5em}
h2{font-size:2em; margin-bottom:0.75em}
h3{font-size:1.1em; line-height:1}
h4{font-size:1.2em; line-height:1.25; margin-bottom:1.25em}
h5{font-size:1em; margin-bottom:1.5em}
h6{font-size:1em}

p{margin:0 0 1.5em}
ul, ol{margin:0 1.5em 1.5em 0}
ul{list-style-type:circle}
ol{list-style-type:decimal}
dl{margin:0 0 1.5em 0}
dl dt{font-weight:bold}
dl dd{margin-left:1.5em}
abbr, acronym{border-bottom:1px dotted #000}
address{margin-top:1.5em; font-style:italic}
del{color:#000}
a{color:#009; text-decoration:none}
a:hover{text-decoration:underline}
blockquote{margin:1.5em}
strong{font-weight:bold}
em, dfn{font-style:italic}
dfn{font-weight:bold}
pre, code{margin:1.5em 0; white-space:pre}
pre, code, tt{font:1em monospace; line-height:1.5}
tt{display:block; margin:1.5em 0; line-height:1.5}

table{margin-bottom:1em}
th{font-weight:bold}
th, td{padding:0}
tfoot{font-style:italic}
caption{}

.small{font-size:.8em; margin-bottom:1.875em; line-height:1.875em}
.large{font-size:1.2em; line-height:2.5em; margin-bottom:1.25em}
.quiet{color:#999}
.hide{display:none}
.highlight{background:#ffc}
.top{margin-top:0; padding-top:0}
.bottom{margin-bottom:0; padding-bottom:0}
